{% extends 'base.html.twig' %}

{% block title %}Hello {{app.user.firstName}}!{% endblock %}

{% block content %}

<div class="example-wrapper">
    <h1 class="mt-4">Hello {{app.user.firstName}} {{app.user.lastName}}! ✅</h1>

    You can manage your personal informations here:


    <br>
    + <a href="{{path('account_address')}}">Menage my addresses</a>
    + <a href="{{path('account_password')}}"> Edit password </a> <br>
    + Add an address <br>

</div>
{% endblock %}
