{% extends 'base.html.twig' %}

{% block title %}Hello AccountPasswordController!{% endblock %}

{% block content %}
<h1 class="mt-4">Edit your Password</h1>
<br>
form to edit password
{{ form_start(form) }}

{{form_row(form.firstName,{'label':false,'attr':{'placeholder':'Enter your First Name'}})}}
{{form_row(form.lastName,{'label':false,'attr':{'placeholder':'Enter your Last Name'}})}}

{{form_row(form.email,{'label':false,'attr':{'placeholder':'Enter your Email'} })}}



{{ form_end(form) }}
{% endblock %}
