{% extends 'base.html.twig' %}
{% block title %}Mes Adresses - Ma boutique
{% endblock %}
{% block content %}
	
	<h1>My addresses</h1>
	<p>Here you can manage all your addresses</p>
	
	<hr>
	{% if app.user.addresses | length == 0 %}
		<p class="text-center">There's no addresses saved</p>
	{% else %}
		<div class="row">
			{% for address in app.user.addresses %}
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">{{address.name}}</h5>
							<p class="card-text">{{address.address}}<br>
								{{address.postal}}-
								{{address.city}}</p>
							<a href="{{path('address_edit', {'id':address.id})}}" class="card-link btn btn-info">Edit</a>
							<a href="{{path('delete_address', {'id':address.id})}}" class="card-link btn btn-danger">Delete</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
