{% extends 'base.html.twig' %}


{% block title %}Inscription Myboutique{% endblock %}

{% block content %}

<h1 class="mt-4">Inscription au Site</h1>

{{ form_start(form) }}

{{form_row(form.firstName,{'label':false,'attr':{'placeholder':'Enter your First Name'}})}}
{{form_row(form.lastName,{'label':false,'attr':{'placeholder':'Enter your Last Name'}})}}
{{form_row(form.birthday,{'label':false,'attr':{'placeholder':'When\'s Your Birthday?'}})}}
{{form_row(form.email,{'label':false,'attr':{'placeholder':'Enter your Email'} })}}
{{form_row(form.password)}}
{{form_row(form.confirmPassword)}}


{{ form_end(form) }}
{% endblock %}
