{% extends 'base.html.twig' %}

{% block title %}My Purchase - PinkKiwi
{% endblock %}

{% block content %}
<div class="container">
	<h1 class="mt-3">Validation Purchase</h1>

	<h2>Thank you <3</h2>
	<p>Bonjour
		{{order.user.firstName}}
		{{order.user.lastName}}<br><br>
		Nous vous remercions pour votre commande n°:
		{{order.reference}}<br><br>
		Une Confirmation vient d'être envoyé à l'adresse email:
		{{order.user.email}}<br>
		Votre commande sera livrée par <strong>{{order.carrier.name}}</strong>
		à l'adresse suivante:<br>
		<strong>{{order.delivery | replace({'[br]': '<br>'}) | raw}}</strong>
	</p>
	<img src="\uploads\boxes.png" alt="boxes image" style="height:60vh">
	<hr>
	Pour suivre votre commande rendez-vous dans votre
	<a href="{{path('account')}}">Compte</a>
	</div>
{% endblock %}
