{% extends 'base.html.twig' %}
{% block title %}Ma Commande - Ma boutique{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1>Ma Commande - {{ order.reference }}</h1>
    <a href="{{ path('account_order') }}">Retour</a>
    <hr>
    <strong>Commande passée le:</strong> {{ order.createdAt|date('d/m/Y') }}<br>
    <strong>Référence de ma commande:</strong> {{ order.reference }}<br>
    <strong>Transporteur choisi:</strong> {{ order.carrier.name }}
    <hr>
    <strong>Détails</strong>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Total</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in order.orderDetails %}
            <tr>
                <th scope="row">{{ product.product.name }}</th>
                <td>x{{ product.quantity }}</td>
                <td>{{ (product.price/100)|number_format(2) }} €</td>
                <td>{{ (product.price*product.quantity/100)|number_format(2) }} €</td>
                <td><!-- Add comment form for each product -->
                    <form action="{{ path('comment_product', {'slug': product.product.slug}) }}" method="post">
                        
                        <select name="rating" class="form-select mb-2">
                            <option value="1">1 star</option>
                            <option value="2">2 stars</option>
                            <option value="3">3 stars</option>
                            <option value="4">4 stars</option>
                            <option value="5">5 stars</option>
                        </select>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-end">
        <strong>Sous Total: {{ (order.total/100)|number_format(2) }} €</strong><br>
        <strong>Livraison: {{ (order.carrier.price/100)|number_format(2) }} €</strong><br>
        <strong>Total: {{ ((order.carrier.price + order.total)/100)|number_format(2) }} €</strong>
    </div>
</div>
{% endblock %}
